body{
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Helvetica;
}
.container_title{
    width: 60%;
    margin: auto;
}    
.bandeau{
    height: 20px;
    background-color: white;
    margin-top: 30px;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.container{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}
.container a{
    color: white;
    text-decoration: none;
}
.container a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
table {
    /*border-collapse: collapse;*/
    width: 100%;
    margin-left:auto; 
    margin-right:auto;
}
table, th, td {
    margin:auto;
    max-width: 100%;
}
tr{
    height: 130%;
}
.container_form td:first-child{
    text-align: right;
    padding-right: 15px;
}
.container_form td:last-child{
    padding-left: 25px;
}
.container_form{
    margin-top: 30px;
    margin-bottom: 100px;
}
.strong{
    font-size: 130%;
    font-style: italic;
    padding-left: 10%;
}
.button{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.button input{
    height: 40px;
    font-size: 130%;
}
.list table thead th{
    font-size: 130%;
}
.list table thead tr{
    height: 150%;
}
.list table tbody td{
    text-align: center;
}
.list table tbody td{
    height: 120%;
}
.accueil{
    margin-top: 100px;
}
