<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>


    
    <!-- HEADER -->
    <header th:fragment="header" class='header'>
        <div class='container_title'>
            <h1 class='title'>Gestion des participants d'événements</h1>
        </div> 
        <div class='bandeau'></div>
    </header>


    <!-- CONTENT -->
    <div class='container'>
        <p th:text="'Hello, ' + ${name} + '!'" />
    </div>
    
</body>
</html>
