<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Liste des participants</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
	
	<!-- HEADER -->
	<header th:fragment="header" class='header'>
		<div class='container_title'>
			<h1 class='title'>Gestion des participants d'événements</h1>
		</div> 
		<div class='bandeau'></div>
	</header>


	<!-- CONTENT -->
	<div class='container'>

		
		<div class='container_form'>
			<h2>Ajouter des événements</h2>
			<form action="/add_evenement" method="get">
				<table class='add'>
					<tr>
						<td><label for="name">Nom :</label></td>
						<td><input type="text" id="name" name="event_name" required></td>
					</tr>
					<tr>
						<td><label for="event_place">Lieu :</label></td>
						<td><input type="text" id="name" name="event_place" required></td>
					</tr>

				</table>
				<p class="button"><input type="submit" value="Ajouter l'événement"></p>
		</div>

		
		
		<h2>Liste des événements</h2>
		<div th:if="${!listeEvenements.empty}" class='list'>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Lieu</th>
						<th>Date d'ajout</th>
					</tr>
				</thead>
				<tbody>		
					<tr th:each="evenement : ${listeEvenements}">
						<td><span th:text="${evenement.id}">Id</span></td>
						<td><span th:text="${evenement.nom}">Nom</span></td>
						<td><span th:text="${evenement.lieu}">Lieu</span></td>
						<td><span th:text="${evenement.date}">Date</span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${listeEvenements.empty}">
			<p class='strong'>Pas d'événement</p>
		</div>


		<p class='accueil'><a href="/">Retour à la page d'accueil</a></p>
	
	</div>


</body>
</html>
